<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width",initial-scale=1.0">
        <title>To-Do List Form</title>
 
</head>
    <body> 
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            <ul style="color: red;">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

        <H2 class="centered">To-Do Page</H2>
        <div class="centered">
            <form action="/submittodoitem" method="POST">
                <label for="itemName">Item Name</label>
                <input type="text" name="itemName" id="itemName" placeholder="Enter the Item name" value="{{ form_data.itemName if form_data else '' }}" required>                
                <br/>
                <label for="itemDescription">Item Description</label>
                <input type="text" name="itemDescription" id="itemDescription" placeholder="Enter the Item Description." value="{{ form_data.itemDescription if form_data else '' }}" required>
                <br/>
                <label for="itemID">Item ID</label>
                <input type="text" name="itemID" id="itemID" placeholder="Enter the Item ID." value="{{ form_data.itemID if form_data else '' }}" required>
                <br/>
                <label for="itemUUID">Item UUID</label>
                <input type="text" name="itemUUID" id="itemUUID" placeholder="Enter the item UUID." value="{{ form_data.itemUUID if form_data else '' }}" required>
                <br/>
                <label for="itemHash">Item Hash</label>
                <input type="text" name="itemHash" id="itemHash" placeholder="Enter the item Hash." value="{{ form_data.itemHash if form_data else '' }}" required>
                <br/>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
    <style>
        body{
            background-color:whitesmoke;
        }
        p{
            text-align: center;
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
        }
		.centered{
		margin: auto;
		width: 50%;
		border: 3px solid darkgray;
		padding:10px;
		}
    </style>

    </html>
